*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/.idea/*
gradlew
gradlew.bat
/gradle
utilcode/src/test/res/file/child/
utilcode/src/test/res/file1/child/
facebook/build/
choseCountryNum/build/
alpha2EntrityLib/build/
alphaQRLib/build/
slidingmenu_library/build/
spotifyAuthentication/build/
build/
*.apk
