<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubtechinc.alpha2services"
    android:versionCode="2"
    android:versionName="2.0.0.1"
    android:sharedUserId="android.uid.system"
    >
<!--    android:sharedUserId="android.uid.system"-->

    <!--android:sharedUserId="android.uid.system"-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />

    <!--IM 需要-start-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--IM 需要-end-->

    <!--信鸽接入start-->
    <!-- 【必须】 信鸽SDK所需权限   -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【常用】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <!--信鸽接入end-->


    <application
        android:name="com.ubtechinc.alpha.app.AlphaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.ubtechinc.alpha.MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|locale">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 主服务 -->
        <service
            android:name="com.ubtechinc.alpha.service.MainService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ubtechinc.alpha.service.MainService"/>
            </intent-filter>
        </service>

        <!-- 语音引擎服务 -->
        <!--        <service
                    android:name="com.ubtechinc.alpha.speech.SpeechService"
                    android:enabled="true">
                    <intent-filter>
                        <action android:name="com.ubtechinc.alpha.speech.SpeechService"/>
                    </intent-filter>
                </service>  -->

        <!-- 系统层接口服务 -->
        <!--<service
            android:name="com.ubtechinc.alpha.sys.SysService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.ubtechinc.alpha.sys.SysService"/>
            </intent-filter>
        </service>-->
        <!--动作服务-->
        <!--        <service android:name="com.ubtechinc.alpha.ops.ActionService"
                    android:enabled="true">
                    <intent-filter>
                        <action android:name="com.ubtechinc.alpha.ops.ActionService"/>
                    </intent-filter>
                </service>  -->
        <!--舵机服务-->
        <!--        <service android:name="com.ubtechinc.alpha.ops.MotorService"
                    android:enabled="true">
                    <intent-filter>
                        <action android:name="com.ubtechinc.alpha.ops.MotorService"/>
                    </intent-filter>
                </service> -->

        <provider
            android:authorities="com.ubtechinc.alpha.coreservices"
            android:name="com.ubtechinc.alpha.provider.AlphaContentProvider"/>
        <receiver
            android:name="com.ubtechinc.alpha.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.ubtechinc.alpha.deskclock.AlarmService"
            android:enabled="true"
            android:exported="false"/>
        <!-- 语音命令分发 -->
        <service
            android:name="com.ubtechinc.alpha.sdk.speech.SpeechService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ubtechinc.alpha.Alpha_Service"/>
            </intent-filter>
        </service>
        <!-- 用于语音引擎离线指令分发 -->
        <meta-data
            android:name="alpha_appid"
            android:value="1000"/>
        <!-- 用于语音引擎离线指令词配置 -->
        <meta-data
            android:name="alpha_call"
            android:value="@string/call"/>

        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="true"
            android:process=":QALSERVICE" >
        </service>
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"
            android:process=":QALSERVICE" >
        </service>

        <!-- 【必须】 离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter" android:process=":QALSERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>

            <!-- ImSDK 3.0.2 后添加 -->
            <intent-filter>
                <action android:name="com.tencent.qalsdk.service.TASK_REMOVED" />
            </intent-filter>
        </receiver>

        <!--deskclock receiver-->
        <receiver android:name="com.ubtechinc.alpha.deskclock.AlarmReceiver">
            <intent-filter>
                <action android:name="com.ubtechinc.alpha2services.ALARM_ALERT"/>
                <action android:name="alarm_killed"/>
                <action android:name="cancel_snooze"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="com.ubtechinc.alpha.service.BinderProvider"
            android:authorities="alpha2.service.BinderProvider"
            android:exported="true" />

        <!--信鸽接入start-->
        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v3" >
            <intent-filter android:priority="0x7fffffff" >
                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <!-- 【可选】APP实现的Receiver，用于接收消息透传和操作结果的回调，请根据需要添加 -->
        <!-- YOUR_PACKAGE_PATH.CustomPushReceiver需要改为自己的Receiver： -->
        <receiver android:name="com.ubtechinc.nets.push.PushReceiver"
            android:exported="true" >
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理-->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushServiceV3"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v3" />

        <!-- 【必须】 提高service的存活率 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ubtechinc.alpha2services.PUSH_ACTION" />
            </intent-filter>
        </service>

        <provider
            android:name="com.tencent.android.tpush.XGPushProvider"
            android:authorities="com.ubtechinc.alpha2services.AUTH_XGPUSH"
            android:exported="true"/>

        <provider
            android:name="com.tencent.android.tpush.SettingsContentProvider"
            android:authorities="com.ubtechinc.alpha2services.TPUSH_PROVIDER"
            android:exported="false" />

        <provider
            android:name="com.tencent.mid.api.MidProvider"
            android:authorities="com.ubtechinc.alpha2services.TENCENT.MID.V3"
            android:exported="true" >
        </provider>

        <!-- 动作信息 contentProvider -->

        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100261606" />

        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="A14RW41IY9ZI" />
        <!--信鸽接入end-->

    </application>

</manifest>
